<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <div class="wrapper-header">
        <a href="./index.html">
          <img src="../../svg/Logo.svg" alt="Logo" />
        </a>
        <nav class="nav">
          <ul class="nav-list">
            <li><a href="./pages/home/index.html">Home</a></li>
            <li><a href="./pages/blogPost/index.html">Blog</a></li>
            <li><a href="./pages/aboutUs/index.html">About Us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><button>Subscribe</button></li>
          </ul>
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </div>
    </header>
  </body>
</html>
