<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./footer.css" />
  </head>
  <body>
    <footer>
      <div class="wrapper-footer">
        <img src="../../svg/Logo.svg" alt="Logo" />
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
      <div class="wrapper-footer-subscribe">
        <h2>Subscribe to our newsletter to get latest updates and news</h2>
        <div class="wrapper_email">
          <div class="wrapper-input-footer">
            <input type="email" placeholder="Enter Your Email" />
          </div>
          <button id="subscribeButton">Subscribe</button>
        </div>
      </div>
      <div class="wrapper-social-media">
        <address>
          <p>Finstreet 118 2561 Fintown</p>
          <p>
            <a href="mailto:hello@finsweet.com">hello@finsweet.com</a> 020 7993
            2905
          </p>
        </address>
        <div>
          <ul class="wrapper-footer-media">
            <li>
              <a href="#"
                ><img src="../../svg/Instagram.svg" alt="Instagram"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="../../svg/Linkinding.svg" alt="LinkedIn"
              /></a>
            </li>
            <li>
              <a href="#"><img src="../../svg/Twiter.svg" alt="Twitter" /></a>
            </li>
            <li>
              <a href="#"
                ><img src="../../svg/Negative.svg" alt="Facebook"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="./footer.js"></script>
  </body>
</html>
