@import "../../../../templates/sass/normale.scss";
@import "../../../../templates/sass/footer.scss";
@import "../../../../templates/sass/header.scss";
section {
  max-width: 1282px;
  width: 100%;
  margin: 50px auto;
}
.wrapper-section-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px;
  .wrapper-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 624px;
    width: 100%;
    h4 {
      //styleName: Cap 03;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
      text-align: left;
      width: 100%;
    }
    h2 {
      //styleName: Heading H2;
      font-family: Sen;
      font-size: 36px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
      text-align: left;
      width: 100%;
    }
    P {
      //styleName: Label 01;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      span {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
      }
    }
    h6 {
      //styleName: Body 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
    }
    a {
      padding: 16px 48px 16px 48px;
      background: #ffd050;
      max-width: 204px;
      width: 100%;
    }
  }
  div:first-child {
    padding: 20px;
    max-width: 515px;
    img {
      width: 100%;
    }
  }
}
.wrapper-photos {
  h1 {
    //styleName: Heading H1;
    font-family: Sen;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: left;
  }
}
.wrapper-photos-carst {
  display: flex;
  flex-wrap: wrap;
  max-width: 1146px;
  justify-content: center;
  width: 100%;
  margin: 50px 0;

  .img-cart {
    max-width: 490px;
    width: 100%;
  }
  div {
    max-width: 624px;
    width: 100%;
  }
}
div:last-child {
  h6 {
    //styleName: Cap 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
  }
  h2 {
    //styleName: Heading H2;
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
  }
  p {
    //styleName: Body 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
}
.texr-wrapper {
  max-width: 624px;
  width: 100%;
  padding: 50px;
}
.wrapper-section {
  padding: 50px;
}
.wrapper_join_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h2 {
    //styleName: Heading H2;
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: center;
    max-width: 414px;
    width: 100%;
  }
  p {
    //styleName: Body 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #6d6e76;
    max-width: 414px;
    width: 100%;
  }
  a {
    padding: 16px 48px;
    background: #ffd050;
    max-width: 174px;
  }
}
.wrapper_carts_category_main {
  .wrapper_carts_category {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 40px;
    .cart-us-about {
      max-width: 256px;
      width: 100%;
      border: 1px solid #6d6e76;
      padding: 15px 24px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      div {
        background: white;
        width: fit-content;
        border-radius: 8px;
        img {
          max-width: 48px;
          width: 100%;
          padding: 7px;
        }
      }
    }
    .cart-us-about:hover {
      background: #ffd050;
    }
  }
}

.img-wrapper-cards {
  display: flex;
  position: relative;
  div:first-child {
    img {
      max-width: 946px;
      padding: 15px 20px;
      position: relative;
      z-index: 0;
    }
  }
  div:last-child {
    max-width: 706px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-height: 500px;
    height: 100%;
    max-width: 706px;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0px;
    padding: 15px 30px;
    h3 {
      //styleName: Cap 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3px;
      text-align: left;
    }
    h2 {
      //styleName: Heading H1;
      font-family: Sen;
      font-size: 48px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      text-align: left;
    }
    p {
      //styleName: Body 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: #6d6e76;
    }
    a {
      background: #ffd050;
      max-width: 269px;
      width: 100%;
      padding: 16px;
      font-family: Sen;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      border-radius: 5px;
    }
  }
}
.wrapper_carts_title {
  display: flex;
  justify-content: center;
}
