.container {
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
  background-color: #f4f0f8;
}
.main-wrapper {
  h1 {
    font-family: "Sen", sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2px;
    text-align: center;
  }
  p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    opacity: 0.7;
  }
}
.main-text {
  padding: 50px 300px;
  h5 {
    font-family: "Sen", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    line-height: 50px;
    letter-spacing: -2px;
    padding-top: 15px;
  }
  p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    opacity: 0.7;
    padding: 20px 0;
  }
}
